<div class="container" >
<form class="row form-group">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="input-group pull-left">
      <input type="text" class="form-control" ng-model="code" placeholder="股票代码">
      <span class="input-group-btn">
        <button class="btn btn-success pull-right" ng-click="queryfromYahoo()" type="button">展示价格</button>
      </span>
    </div>
  </div>
  
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <ui-select ng-model="selected.analyst">
      <ui-select-match>
          <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices group-by="'domain'" repeat="item in (itemArray | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
      </ui-select-choices>
  </ui-select>
  </div>
  <span class="input-group-btn pull-left col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <button class="btn btn-success" ng-click="queryReport()" type="button">展示研报</button>
  </span>
</form>
<hr>
<highchart id="chart1" config="chartConfig" class="span12"></highchart>
</div>