<div class="container" >
<form class="row form-inline">
<!--   <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <label for="code">代码</label>
    <input type="text" class="form-control" id="code" ng-model="code" placeholder="code">
  </div>
  <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><button class="btn btn-success pull-right" ng-click="queryfromYahoo()">展示价格</button></span>
  <div class="form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <ui-select ng-model="selected.analyst">
      <ui-select-match>
          <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices group-by="'domain'" repeat="item in (itemArray | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
      </ui-select-choices>
  </ui-select>  
  </div>

  <span class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"><button class="btn btn-success pull-right" ng-click="queryReport()">展示研报</button></span> -->

  <div class="col-lg-4">
    <div class="input-group pull-left">
      <input type="text" class="form-control" ng-model="code" placeholder="股票代码">
      <span class="input-group-btn">
        <button class="btn btn-success pull-right" ng-click="queryfromYahoo()" type="button">展示价格</button>
      </span>
    </div>
  </div>
  
  <ui-select ng-model="selected.analyst" class="col-lg-4">
      <ui-select-match>
          <span ng-bind="$select.selected.name"></span>
      </ui-select-match>
      <ui-select-choices group-by="'domain'" repeat="item in (itemArray | filter: $select.search) track by item.id">
          <span ng-bind="item.name"></span>
      </ui-select-choices>
  </ui-select> 
  
  <div class="col-lg-4">
    <div class="input-group pull-left">
      <!-- <input type="text" class="form-control" ng-model="code" placeholder="股票代码"> -->
      <span class="input-group-btn">
        <button class="btn btn-success pull-right" ng-click="queryReport()" type="button">展示研报</button>
      </span>
    </div>
  </div>

</form>
<hr>
<highchart id="chart1" config="chartConfig" class="span12"></highchart>
</div>